/* Colores */

$color_1: #ffc72c;
$color_2: white;
$color_3: #212322;
$color_4: black;
$color_5: #fa4616;

/* Fuentes */

$font-family_1: Stinger;
$font-family_2: NexaBold;
$font-family_3: Nexa;

/* Colores background */

$background-color_1: #212322;
$background-color_2: #ffc72c;
$background-color_3: white;
$background-color_4: #ecb3cb;

$border-color_1: #ffc72c;

@font-face {
	font-family: Stinger;
	src: url(../fonts/StingerFitTrial-Bold.ttf);
}
@font-face {
	font-family: Nexa;
	src: url(../fonts/Nexa\ Light.otf);
}
@font-face {
	font-family: NexaBold;
	src: url(../fonts/Nexa\ Bold.otf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: larger;
}
.nav-link {
	color: $color_1;
	&:hover {
		color: $color_2;
	}
}
.navbar-toggler-icon {
	background-color: $background-color_2;
}
#delivery {
	background-color: $background-color_2;
	margin: 0px;
	border-radius: 5px;
	a {
		color: $color_3;
		&:hover {
			background-color: $background-color_3;
			border-radius: 5px;
		}
	}
}
footer {
	width: 100%;
	background-color: $background-color_1;
	color: $color_1;
	text-align: center;
	z-index: 1;
	padding: 10px 0;
	.text-center {
		color: $color_1;
		font-family: $font-family_2;
		font-size: larger;
	}
}
.btn {
	background-color: $background-color_2;
	border-color: $border-color_1;
	color: $color_3;
	a {
		color: $color_3;
	}
	&:hover {
		background-color: $background-color_3;
		color: $color_3;
	}
}
body {
	background-color: $background-color_4;
}
#nuestros-sabores {
	background-color: $background-color_4;
	text-align: center;
	color: $color_4;
	font-size: 35px;
	text-shadow: 0 0 2px white;
	margin-bottom: 0;
	font-family: $font-family_1;
	padding-top: 20px;
}
.galeria {
	background-color: $background-color_4;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(12, 150px);
	padding: 15px;
	grid-gap: 15px;
}
.carta {
	background-color: $background-color_1;
	color: $color_1;
	border-radius: 5px;
	text-align: center;
	font-family: $font-family_2;
	a {
		text-decoration: none;
		color: $color_1;
		&:hover {
			color: $color_2;
		}
	}
}
.item {
	border: 3px solid #212322;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	height: 85%;
	filter: grayscale(100%);
	transition: all 0.9s;
	&:hover {
		transform: scale(1.04);
		filter: grayscale(0%);
	}
}
.item1 {
	background-image: url(../img/berenjena.jpg);
}
.item2 {
	background-image: url(../img/bondio.jpg);
}
.item3 {
	background-image: url(../img/calabaza.jpg);
}
.item4 {
	background-image: url(../img/caprese.jpg);
}
.item5 {
	background-image: url(../img/carnemalbec.jpg);
}
.item6 {
	background-image: url(../img/carnemorron.jpg);
}
.item7 {
	background-image: url(../img/humita.jpg);
}
.item8 {
	background-image: url(../img/jamonqueso.jpg);
}
.item9 {
	background-image: url(../img/pirok.jpg);
}
.item10 {
	background-image: url(../img/polloverderoque.jpg);
}
.item11 {
	background-image: url(../img/roquecebo.jpg);
}
.item12 {
	background-image: url(../img/teriyaki.jpg);
}
.row {
	padding-bottom: 20px;
}
.mainnietos {
	background-color: $background-color_4;
	background-position: center;
	height: 100vh;
	h1 {
		text-align: center;
		font-family: $font-family_1;
		padding: 20px;
	}
	h2 {
		text-align: center;
		font-family: $font-family_1;
		padding: 20px;
	}
}
.gotodelivery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		text-align: center;
		font-family: $font-family_1;
	}
	a {
		text-decoration: none;
		background-color: $background-color_2;
		color: $color_3;
		padding: 25px;
		font-size: larger;
		border-radius: 10px;
		margin-top: 20px;
		font-family: $font-family_2;
		display: inline-block;
	}
}
.carousel-inner {
	height: 70vh;
}
.contacto {
	height: 90vh;
	padding: 50px;
	text-align: center;
	font-family: $font-family_1;
	color: $color_5;
	form {
		font-family: $font-family_2;
	}
}
#contactbtn {
	background-color: $background-color_1;
	color: $color_1;
	&:hover {
		background-color: $background-color_3;
		color: $color_3;
	}
}
#contactbtncv {
	background-color: $background-color_1;
	color: $color_1;
	&:hover {
		background-color: $background-color_3;
		color: $color_3;
	}
}
.delivery {
	text-align: center;
	padding: 20px;
	font-family: $font-family_2;
	h1 {
		font-family: $font-family_1;
	}
}
.deliverybot {
	padding: 20px;
	a {
		padding: 15px;
	}
}
#imgdelivery {
	width: 100%;
}
#deliverylogo {
	width: 100%;
}
#leftcol {
	margin-bottom: 37px;
}
.background-container {
	position: relative;
	height: 100vh;
}
.background-image {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 80%;
}
#image1 {
	background-image: url(./img/imgp1.jpg);
}
#image2 {
	background-image: url(./img/imgp2.jpg);
}
.indexmain {
	h1 {
		z-index: 1;
	}
}
.indexa {
	background: url(../img/imgp7.jpg) left top no-repeat;
	background: url(../img/imgp2.jpg) right top no-repeat, url(../img/imgp7.jpg) left top no-repeat;
	background-size: 50% 100%, 50% 100%;
	opacity: 75%;
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
	font-family: $font-family_3;
	font-weight: bolder;
	justify-content: center;
	h1 {
		margin: 70px;
		font-size: 60px;
		color: $color_1;
		font-weight: bolder;
		font-family: $font-family_1;
		text-shadow: 5px 5px 10px #212322;
		transition: transform 0.5s ease-in-out;
		&:hover {
			transition: transform 0.5s ease-in-out;
			transform: scale(1.10);
		}
	}
}
.indexb {
	height: 40vh;
	background-color: $background-color_4;
	font-family: $font-family_1;
	padding: 70px;
	text-align: center;
	p {
		font-size: larger;
		padding: 10px;
	}
}
.indexc {
	background: url(../img/imgp1.jpg) left top no-repeat;
	background: url(../img/imgp3.jpg) right top no-repeat, url(../img/imgp1.jpg) left top no-repeat;
	background-size: 50% 100%, 50% 100%;
	opacity: 75%;
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
	font-family: $font-family_3;
	font-weight: bolder;
	justify-content: center;
	h2 {
		margin: 70px;
		font-size: 60px;
		color: $color_1;
		font-weight: bolder;
		font-family: $font-family_1;
		text-shadow: 5px 5px 10px #212322;
		transition: transform 0.5s ease-in-out;
		&:hover {
			transition: transform 0.5s ease-in-out;
			transform: scale(1.10);
		}
	}
}
.indexd {
	height: 40vh;
	background-color: $background-color_4;
	font-family: $font-family_1;
	padding: 100px;
	text-align: center;
	a {
		text-decoration: none;
		background-color: $background-color_2;
		color: $color_3;
		padding: 25px;
		font-size: larger;
		border-radius: 10px;
		margin-top: 20px;
		font-family: $font-family_2;
		display: inline-block;
		&:hover {
			background-color: $background-color_1;
			color: $color_1;
		}
	}
}
@media only screen and (max-width: 767px) {
	.item {
		filter: none;
	}
	.contacto {
		height: fit-content;
		padding: 10px;
		font-size: smaller;
	}
}
@media only screen and (min-width: 200px) {
	h4 {
		font-size: small;
	}
	#myCarousel {
		height: 20vh;
	}
}
@media only screen and (min-width: 480px) {
	.galeria {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(6, 150px);
	}
	#myCarousel {
		height: 35vh;
	}
}
@media only screen and (min-width: 768px) {
	.galeria {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(4, 230px);
	}
	#myCarousel {
		height: 45vh;
	}
}
@media only screen and (min-width: 1200px) {
	.galeria {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(3, 350px);
	}
	h4 {
		font-size: large;
	}
	#myCarousel {
		height: 65vh;
	}
}
@media only screen and (min-width: 1600px) {
	.galeria {
		grid-template-columns: 2fr 2fr 2fr 2fr;
		grid-template-rows: repeat(3, 500px);
	}
	h4 {
		font-size: larger;
	}
	#myCarousel {
		height: 60vh;
	}
}
@media only screen and (min-width: 992px) {
	.delivery {
		padding: 60px;
	}
}
@media only screen and (max-width: 480px) {
	.indexa {
		h1 {
			font-size: 40px;
		}
	}
	.indexc {
		h2 {
			font-size: 40px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.indexb {
		padding: 15px;
		font-size: 12px;
	}
	.indexd {
		padding: 35px;
	}
}
@media only screen and (max-width: 420px) {
	.indexb {
		padding: 5px;
		font-size: 10px;
	}
	.indexd {
		a {
			padding-bottom: 15px;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.indexa {
		background: url(../img/imgp1.jpg);
		background-size: cover;
	}
	.indexb {
		padding: 20px;
	}
	.indexc {
		background: url(../img/imgp2.jpg);
		background-size: cover;
	}
	.indexd {
		padding: 35px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 610px){
	.nav-item{
		font-size: medium;
	}
}
